.animatedText {
    color: var(--primary);
    text-align: center;
    font-size: 48px;
    display: inline-block;
    padding: 0;
    border-right: 1px solid #414141;
  }
.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h2{
    margin: 0;
    font-size: 38px;
    line-height: 1.2;
  }
.banner-content h2 span{
    color: var(--primary);
    text-transform: uppercase;
    font-size: 34px; 
    letter-spacing: 1px;
    font-family: 'poppins-bold';
  }  
.banner-content p span{
    color: var(--primary);
  }
.banner-content p{
    color: var(--secondary);
  }  
.banner-content p, .banner-content p span{
    font-size: 24px;
    margin: 0;
    max-width: 80%;
    line-height: 2;
  }

.banner-content, .banner-image {
  width: 50%;
}
.banner-content p.subtitle{
  font-size: 16px;
  line-height: 1.4;
}
